* {
    margin: 0 auto;
    font-family: "Playwrite England SemiJoined", serif;
    position: relative;
}

.titre {
    padding: 5%;
    text-align: center;
    background-color:black;
    color: white;
}

header {
    text-align: center;
    padding: 1.5em;
    background-color: #ec0a0a;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    top: 7em;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

nav .menu {

    letter-spacing: 1px;
}

.menu,
li {
    border: 0;
    display: inline-block;
}

.menu,
ul {
    margin: 0;
    padding-left: 0;
}

main {
    margin: auto;
    padding: 20em;
}

h2 {
    text-align: center;
    bottom: 11em;
}

.move {
    left: 15em;
    bottom: 15em;
}